// 全局变量style
$base-menu-width: 260px;
$base-menu-color: #060f2b;
$base-menu-color-hover: #00000080;
$base-sub-menu-opened: #00000040;
$base-menu-text-color: white;
$base-tabbar-height: 56px;
$base-header-height: 56px;
$base-color: #409eff;
